@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
 
html { scroll-behavior: smooth;}

body{
    font-family: "Noto Serif JP";
    overflow: hidden;
}