@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap');
 
html { scroll-behavior: smooth;}

@font-face{
    font-family: 'SourceHanSerif-Regular';
    src: url('../fonts/SourceHanSerif-Regular.otf') format("opentype");
}

@font-face{
    font-family: 'SourceHanSerif-Medium';
    src: url('../fonts/SourceHanSerif-Medium.otf') format("opentype");
}