@font-face{
    font-family: 'SourceHanSerif-Regular';
    src: url('../fonts/SourceHanSerif-Regular.otf') format("opentype");
}

@font-face{
    font-family: 'SourceHanSerif-Medium';
    src: url('../fonts/SourceHanSerif-Medium.otf') format("opentype");
}

@font-face{
    font-family: 'SourceHanSerif-Light';
    src: url('../fonts/SourceHanSerif-Light.otf') format("opentype");
}

@font-face{
    font-family: 'SourceHanSerif-ExtraLight';
    src: url('../fonts/SourceHanSerif-ExtraLight.otf') format("opentype");
}

